body.has-background-black-ter
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
title Divisible
p.p.has-text-white.has-background-black-ter.title.size-1.has-text-centered Divisible
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
form(action='http://localhost:5000/Divisible/AddNumber', method='POST')
  .p.has-text-white.mt-1.ml-3 Input
       input#inputNumbers.input.mt-2.has-background-grey-dark.has-text-grey-lighter(type='number', name='numberInput', placeholder='Add Numbers')
  .p.has-text-white.mt-1.ml-3 Disivible
       input#inputNumbers.input.mt-2.has-background-grey-dark.has-text-grey-lighter(type='number', name='divisibleInput', placeholder='Divisible')     
  button(type="submit")#AddNumbers.button.is-primary.is-large.has-text-white.is.mt-3.ml-3
    .p Add Numbers     
.p.has-text-white.mt-1.ml-3 Added Numbers
  #DisplayEven.textarea.textarea.readonly.mt-3.has-background-grey-dark.has-text-grey-lighter
   .p Added Numbers: #{addedNumbers}
form(action='http://localhost:5000/Divisible/result', method='POST')
 .p.has-text-white.mt-1.ml-3 Result
      #DisplayEven.textarea.textarea.readonly.mt-3.has-background-grey-dark.has-text-grey-lighter.level-left.level-item
           - var ValueArray = Object.values({result})
           - var n = 0;
           each value in ValueArray
             p.has-text-Warning = !{value}
             p.has-text-Danger = !{value}

 button(type="submit")#Start.button.is-primary.is-large.has-text-white.is.mt-3.ml-3
        .p Start
form(action='http://localhost:5000/Divisible/delete', method='POST')
 button(type="submit")#Start.button.is-Danger.is-large.has-text-white.is.mt-2.ml-3
    .p Delete
footer.footer.has-background-black-ter