meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
body.has-background-black-ter
head
  title ExclamationRemover 
  p.p.has-text-white.title.size-1.has-text-centered Exclamation Remover  
form(action='http://localhost:5000/ExclamationRemover/', method='POST')
 .p.has-text-white.mt-3 Text
 textarea.textarea.has-background-grey-dark.has-text-grey-lighter.mb-2(placeholder='Your Text', name='text', type='text')  
 .p.has-text-white.mt-3 Result
 #Display.textarea.textarea.readonly.mt-1.has-background-grey-dark.has-text-grey-lighter
  .p #{result}
 button.button(type='submit').is-success.is-rounded.mt-6.is-large.is-fullwidth Start

footer.footer.has-background-black-ter
