meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
body.has-background-dark
head
  title ExclamationRemover 
form(action='http://localhost:5000/ExclamationRemover/', method='POST')
 textarea.textarea(placeholder='Your Text', name='text', type='text')  

 #Display.textarea.textarea.readonly.mt-3
    .p #{result}
 button.button(type='submit').is-success.is-rounded.mt-6.is-large.is-fullwidth Start
