meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
title OddAndEvenSpliter 
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')

form(action='http://localhost:5000/SplitOddAndEven', method='POST')    
 .box
  button.button.is-rounded.is-medium.is-fullwidth.is-primary Odd And Even Spliter
  button.button.is-rounded.is-medium.is-fullwidth.is-primary.mt-3 Test
