body.body.has-background-dark
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
title Main Page
p.p.has-text-white.title.size-1.has-text-centered Main Page 
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
form(action='http://localhost:5000/SplitOddAndEven', method='GET')    
 
  button.button.is-rounded.is-medium.is-fullwidth.is-primary Odd And Even Spliter

form(action='http://localhost:5000/charcounter', method='GET')
  
  button.button.is-rounded.is-medium.is-fullwidth.is-primary.mt-5 CharCounter
form(action='http://localhost:5000/ExclamationRemover', method='GET')

  button.button.is-rounded.is-medium.is-fullwidth.is-primary.mt-5 ExclamationRemover
form(action='http://localhost:5000/PointCalculator', method='GET')

  button.button.is-rounded.is-medium.is-fullwidth.is-primary.mt-5 PointCalculator
