meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
body.has-background-dark
head
  title PointCalc 
p.p.has-text-white Point Calculator  
form(action='http://localhost:5000/PointCalculator', method='POST')
      .control
       input#inputNumbers.input.mt-2(type='number', name='number1', placeholder='Number 1')
       input#inputNumbers.input.mt-4(type='number', name='number2', placeholder='Number 2')  
       button(type="submit")#AddNumbers.button.is-primary.is-large.is-half.has-text-white.is.mt-3.ml-3
        .p Calculate
#Display.textarea.textarea.readonly.mt-3
 - var result2 = {result : result}
  if(result2.result <= 10)
    p.p.has-text-primary !{JSON.stringify(result2.result)}
  else
  if(result2.result < 20 && result2.result > 10)
   p.p.has-text-Warning !{JSON.stringify(result2.result)}
  else
  if(result2.result > 20)
   p.p.has-text-Danger !{JSON.stringify(result2.result)}
form(action='http://localhost:5000/PointCalculator/delete', method='POST')      
 button(type="submit")#AddNumbers.button.is-Danger.is-large.is-half.has-text-white.is.mt-3.ml-3 
  .p Delete