body.has-background-black-ter
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
title SheepCounter
p.p.has-text-white.has-background-black-ter.title.size-1.has-text-centered Sheepcounter
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
form(action='http://localhost:5000/SheepCounter/', method='POST')
 .p.has-text-white.mt-1.ml-3 Amount of Sheeps
       input#inputNumbers.input.mt-2.has-background-grey-dark.has-text-grey-lighter(type='number', name='sheepinput', placeholder='Amount of Sheeps')
 .p.has-text-white.mt-1.ml-3 Result
      #DisplayEven.textarea.textarea.readonly.mt-3.has-background-grey-dark.has-text-grey-lighter
       .p Result: #{result}
 button(type="submit")#AddNumbers.button.is-primary.is-large.has-text-white.is.mt-3.ml-3
        .p Start


footer.footer.has-background-black-ter